@model INFORNO_EF.Models.Dettagli

@{
    ViewBag.Title = "Create";
}

<h1 class="text-center mt-5">Conferma o cambia la tua scelta</h1>
<div class="d-flex justify-content-center flex-column align-items-center" style="height: 62vh; background-image: url('../../Content/Immagini/sfondo-caldo.png'); background-size: cover; background-position: center;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    @*<div class="form-horizontal bg-light">*@
        <div class="d-flex flex-column align-items-center form-horizontal" style="width: 73vw;">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FKPizza, "FKPizza", htmlAttributes: new { @class = "control-label col-md-2 text-light" })
                <div class="col-md-10">
                    @Html.DropDownList("FKPizza", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FKPizza, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantita, htmlAttributes: new { @class = "control-label col-md-2 text-light" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantita, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantita, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.FKOrdine)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-dark text-light fw-bold" />
                </div>
            </div>
        </div>
        }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
