@model INFORNO_EF.Models.Dettagli

@{
    ViewBag.Title = "Delete";
}

<div style="height: 75.4vh" class="px-1 px-md-5 py-5">
    <h2 class="text-center p-4" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);">Elimina</h2>

    <h3>Vuoi eliminare le seguenti pizze dall'ordine?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ordini.IndirizzoSpedizione)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ordini.IndirizzoSpedizione)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pizze.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pizze.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantita)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color d-flex justify-content-center">
                <input type="submit" value="Elimina" class="btn btn-danger fw-bold w-100" /><br />
            </div>

        }
    </div>
</div> 
<div class="m-2">
    @Html.ActionLink("Torna al carrello", "Index")
</div>