@model INFORNO_EF.Models.Dettagli

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dettagli</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ordini.IndirizzoSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordini.IndirizzoSpedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizze.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizze.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDettaglio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
