@model IEnumerable<INFORNO_EF.Models.Dettagli>

@{
    ViewBag.Title = "Index";
}

<div style="height: 75.4vh" class="p-5">
    <h2 class="text-center p-4" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);">Carrello</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ordini.IndirizzoSpedizione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pizze.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantita)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ordini.IndirizzoSpedizione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pizze.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantita)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.IdDettaglio }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.IdDettaglio }) |*@
                        @Html.ActionLink("Elimina", "Delete", new { id = item.IdDettaglio })
                    </td>
                </tr>

                Session["OrderId"] = item.FKOrdine;
            }

        </table>
        <div class="d-flex justify-content-evenly p-5">
            <div style="width: 30vw">
            @Html.ActionLink("Concludi ordine", "Details", "Ordini", new { id = Session["OrderId".ToString()] }, new { @class = "btn btn-dark text-light fw-bold w-100" })
            </div>
            <div style="width: 30vw">
                @Html.ActionLink("Continua ad ordinare", "Index", "Home", new { area="" }, new { @class = "btn btn-dark text-light fw-bold w-100" })
            </div>
        </div>
    }
</div>
