@model INFORNO_EF.Models.Ordini

@{
    ViewBag.Title = "Details";
}

<div style="height: 75.4vh" class="p-5">
    <h2 class="text-center p-4" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);">Riepilogo ordine</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Utenti.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Utenti.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IndirizzoSpedizione)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IndirizzoSpedizione)
            </dd>

            <dt class="d-none">
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd class="d-none">
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImportoTotale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImportoTotale)
            </dd>

            <dt class="d-none">
                @Html.DisplayNameFor(model => model.Concluso)
            </dt>

            <dd class="d-none">
                @Html.DisplayFor(model => model.Concluso)
            </dd>

            <dt class="d-none">
                @Html.DisplayNameFor(model => model.Evaso)
            </dt>

            <dd class="d-none">
                @Html.DisplayFor(model => model.Evaso)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Procedi per concludere", "Edit", new { id = Model.IdOrdine }) |
        @Html.ActionLink("Continua ad ordinare", "Index", "Home")
    </p>
</div>