@model IEnumerable<INFORNO_EF.Models.Ordini>
@{
    ViewBag.Title = "Index";
}

<div>
    <h1 class="text-light">@ViewBag.nomeCliente,</h1>
</div>
<h2 class="text-light">ecco i tuoi ordini</h2>

<div class="container">
    <div class="row">

        @foreach (INFORNO_EF.Models.Ordini o in Model)
        {
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Numero ordine @o.IdOrdine</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Numero utente @o.FKUtente</h6>
                <p class="card-text">@o.Data</p>
                <p class="card-text">@o.IndirizzoSpedizione</p>
                <p class="card-text">@o.Note</p>
                <p class="card-text">@o.ImportoTotale</p>
                <a @Html.ActionLink("Completa l'ordine", "", "", new { area = "" }, new { @class = "nav-link" })/>
                <a @Html.ActionLink("Aggiungi altre pizze", "Index", "Dettagli", new { id = o.IdOrdine }, new { @class = "nav-link" })
            </div>
        </div>
        }
        <div>
            <p class="text-light">@ViewBag.ordine</p>
        </div>

    </div>
</div>