@model INFORNO_EF.Models.Pizze

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Nome</h1>


    <div class="card text-bg-dark">
        <img src="~/Content/Immagini/@Model.Foto" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title mt-4 text-dark"><strong>@Model.Nome</strong></h5>
            <p class="card-text text-dark"><strong>@Model.Ingredienti</strong></p>
            <p class="card-text text-dark"><strong>@Model.Prezzo</strong></p>
            <p class="card-text text-dark"><strong>@Model.TempoConsegna</strong></p>
            <div class="form-group">
                <a @Html.ActionLink("Aggiungi al carrello", "Create", "Home", new { id=Model.IdPizza }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
