@model INFORNO_EF.Models.Pizze

@{
    ViewBag.Title = "Details";
}

<div class="m-2" style="min-height:60vh">
    <h2>Dettagli</h2>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>
    </dl>
</div>
<p class="m-2">
    @Html.ActionLink("Torna alla lista delle pizze", "Index")
</p>
