@model IEnumerable<INFORNO_EF.Models.Pizze>

@{
    ViewBag.Title = "Index";
}

<div class="m-2">
    <h2>Lista delle pizze</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.TempoConsegna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredienti)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.TempoConsegna)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredienti)
                </td>
                <td>
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdPizza })
                    @*@Html.ActionLink("Elimina", "Delete", new { id = item.IdPizza })*@
                </td>
            </tr>
        }

    </table>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-12 col-md-6">
            @Html.ActionLink("Aggiungi una pizza", "Create", new { area = "" }, new { @class = "btn btn-dark fw-bold w-100" })
        </div>
    </div>
</div>