@model INFORNO_EF.Models.Utenti

@{
    ViewBag.Title = "Login";
}

<h1 class="text-center mt-5">Login</h1>
<div class="d-flex justify-content-center flex-column align-items-center" style="height: 62vh; background: rgb(131,58,180); background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex flex-column align-items-center" style="width: 73vw;">
            <h3>Inserisci username e password per accedere</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group form-control text-center w-75">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("Username")
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group form-control text-center w-75">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("Password")
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-dark m-2 fw-bold" />
            </div>

        </div>
    }
    <p>Non sei ancora registrato?</p>
    <a> <strong> @Html.ActionLink("Registrati", "Registrati", "Login", new { area = "" }, new { @class = "nav-link" })</strong></a>
</div>

@if (ViewBag.AuthError != null)
{
    <div class="alert alert-danger">
        @ViewBag.AuthError
    </div>
}