﻿@model INFORNO_EF.Models.Utenti
@{
    ViewBag.Title = "Registrati";
}

<h1 class="text-center">Registrati</h1>
<div class="d-flex justify-content-center flex-colum">
    

    @using (Html.BeginForm())
    {

        <div class="d-flex flex-column">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group form-control text-center">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
            @*@Html.EditorFor(model => model.Username)*@
            @Html.TextBox("Username")
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group form-control text-center">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
            @*@Html.EditorFor(model => model.Password)*@
            @Html.TextBox("Password")
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

            <div class="text-center">
                <input type="submit" value="Registrati" class="btn btn-primary" />
            </div>

        </div>
    }
</div>
